
<div class="h-98vw flex flex-column align-items-center justify-content-center">
  <div class="flex flex-wrap align-items-center justify-content-center card-container green-container">
    <div>
      <p>{{ valorMoeda1 | moedas: paisSelecionado1.moeda }} valem hoje: </p>
      <h1>{{ convertido | moedas: paisSelecionado2.moeda }}</h1>
    </div>
  </div>
  <div class="flex flex-wrap align-items-center justify-content-center card-container green-container">
    <p-dropdown [options]="paises" [(ngModel)]="paisSelecionado1" optionLabel="nome"></p-dropdown>
    <p-inputNumber [(ngModel)]="valorMoeda1" mode="currency" currency="{{ paisSelecionado1.moeda }}" locale="pt-BR" (onInput)="ultimoDigitado = false"></p-inputNumber>
    <p-dropdown [options]="paises" [(ngModel)]="paisSelecionado2" optionLabel="nome"></p-dropdown>
    <p-inputNumber [(ngModel)]="valorMoeda2" mode="currency" currency="{{ paisSelecionado2.moeda }}" locale="pt-BR" (onInput)="ultimoDigitado = true"></p-inputNumber>
  </div>

  <button pButton type="button" label="Calcular" (click)="calcular()" ></button>

</div>
